<section>
  <div id="header"
       class="my-3">
    <h1>Dashboard</h1>
    <h2>
      Net worth: 
      <span class="font-bold text-green-800">
        <%= number_to_currency @account.net_worth %>
      </span>
    </h2>
  </div>
  
  <div class="my-6">
    <%= link_to 'Portfolios', 
                [:portfolios],
                class: 'btn-primary' %>
  </div>
  
  <%= render partial: 'shared/table_header' %>

  <div>
    <% @account.assets.each_pair do |coin, amount| %>
      <%= render partial: 'asset', 
                 locals: { coin:, amount: } %>
    <% end %>
  </div>
</section>