<section>
  <h1>Portfolios</h1>

  <%= link_to 'New Portfolio', [:new, :portfolio] %>
  
  <div>
    <ul>
      <% @portfolios.each do |portfolio| %>
        <li>
          <%= link_to portfolio.name, [portfolio] %>
        </li>
      <% end %>
    </ul>
  </div>
</section>