<section>
  <div>
    <%= link_to 'New Holding', new_portfolio_holding_path(@portfolio) %>
  </div>
  
  <h1><%= @portfolio.name %></h1>
  
  <table>
    <thead>
      <trow>
        <th>Asset</th>
        <th>Amount</th>
        <th>Rate</th>
        <th>USD</th>
      </trow>
    </thead>
    <tbody>
      <%= render @holdings %>
    </tbody>
  </table>
</section>