<section>
  <h1><%= @portfolio.name %></h1>
  
  <table>
    <thead>
      <trow>
        <th>Asset</th>
        <th>Amount</th>
        <th>Rate</th>
      </trow>
    </thead>
    <tbody>
    </tbody>
  </table>
</section>