<div id="table-header" 
     class="grid grid-cols-5 mt-7 mb-3 text-slate-600 px-2">
  <div class="text-sm col-span-2 ps-14">Asset</div>
  <div class="text-sm col-span-2 ps-6">Balance</div>
  <div class="text-sm">Proportion</div>
</div>